<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<!-- product card -->
<mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

  </mat-card-header> -->
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-card-title>samsung 20</mat-card-title>
  <h3>20$</h3>
  <mat-card-actions class="d-flex justify-content-around">
    <a mat-button>View</a>
    <a mat-button>Edit</a>
    <a mat-button>Delete</a>


  </mat-card-actions>
</mat-card>
